@import "tailwindcss";

:root {
  --background: var(--color-secondary-900);
  --foreground: var(--color-secondary-100);
}

@theme inline {
  --color-primary-900: #0279fd;

  --color-secondary-900: #161616;
  --color-secondary-800: #1a1a1a;
  --color-secondary-800: #151515;
  --color-secondary-700: #222222;
  --color-secondary-300: #979797;
  --color-secondary-200: #fafafa;
  --color-secondary-100: #ffffff;

  --color-error-900: #ff1d1d;
  --color-error-800: #ffb9b9;
}

.dark {
  --color-primary-900: #0279fd;

  --color-secondary-900: #f1f1f1;
  --color-secondary-800: #ffffff;
  --color-secondary-800: #F2F0F0/80;
  --color-secondary-700: #dedede;
  --color-secondary-300: #6c6c6c;
  --color-secondary-200: #1c1c1c;
  --color-secondary-100: #000000;

  --color-error-900: #ff1d1d;
  --color-error-800: #ffb9b9;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--modam-font);
    font-size: 14px;
  }
  button {
    @apply w-full rounded-full p-2.5 backdrop-blur-xl;
  }
  input {
    @apply pr-5 p-2.5 rounded-full;
  }

  input:focus {
    @apply outline-none;
  }
  form {
    @apply w-full;
  }
  .succes-toast {
    @apply !bg-green-200 !text-green-800 !border-green-700;
  }
  .error-toast {
    @apply !bg-red-200 !text-red-700 !border-red-700;
  }

  div.spinner {
    position: relative;
    width: 37px;
    height: 37px;
    margin: 0px auto;
  }

  div.spinner div {
    width: 6%;
    height: 16%;
    background: black;
    position: absolute;
    left: 49%;
    top: 43%;
    opacity: 0;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-animation: fade 1s linear infinite;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.25;
    }
  }

  div.spinner div.bar1 {
    -webkit-transform: rotate(0deg) translate(0, -130%);
    -webkit-animation-delay: 0s;
  }

  div.spinner div.bar2 {
    -webkit-transform: rotate(30deg) translate(0, -130%);
    -webkit-animation-delay: -0.9167s;
  }

  div.spinner div.bar3 {
    -webkit-transform: rotate(60deg) translate(0, -130%);
    -webkit-animation-delay: -0.833s;
  }
  div.spinner div.bar4 {
    -webkit-transform: rotate(90deg) translate(0, -130%);
    -webkit-animation-delay: -0.7497s;
  }
  div.spinner div.bar5 {
    -webkit-transform: rotate(120deg) translate(0, -130%);
    -webkit-animation-delay: -0.667s;
  }
  div.spinner div.bar6 {
    -webkit-transform: rotate(150deg) translate(0, -130%);
    -webkit-animation-delay: -0.5837s;
  }
  div.spinner div.bar7 {
    -webkit-transform: rotate(180deg) translate(0, -130%);
    -webkit-animation-delay: -0.5s;
  }
  div.spinner div.bar8 {
    -webkit-transform: rotate(210deg) translate(0, -130%);
    -webkit-animation-delay: -0.4167s;
  }
  div.spinner div.bar9 {
    -webkit-transform: rotate(240deg) translate(0, -130%);
    -webkit-animation-delay: -0.333s;
  }
  div.spinner div.bar10 {
    -webkit-transform: rotate(270deg) translate(0, -130%);
    -webkit-animation-delay: -0.2497s;
  }
  div.spinner div.bar11 {
    -webkit-transform: rotate(300deg) translate(0, -130%);
    -webkit-animation-delay: -0.167s;
  }
  div.spinner div.bar12 {
    -webkit-transform: rotate(330deg) translate(0, -130%);
    -webkit-animation-delay: -0.0833s;
  }
}

@layer components {
  .padding {
    @apply p-2.5;
  }
}
